body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #121212;
    width: 100%;

}

h1 {
    color: #007bff;
}

body input {
    outline: 0;
}



.top-1 {
        margin-top: 40px;
}


span {
    font-size: 90px;

}
a {
    text-decoration: none;
    overflow: hidden;
}

.top span a img {
    width: 100px; /* Set your preferred image width */
    height: auto;
    border-radius: 10px;
    border: 6px solid #6c6c6c;
    margin-right: 15px;
    transition: transform 0.3s, filter 0.3s;
}
        
.top span a:hover img {
    transform: scale(1.1); /* Increase the size on hover */
    filter: brightness(60%); /* Reduce brightness on hover */
    border: 5px solid #FFFFFF;
}

/* Responsive styles */

@media only screen and (max-width: 420px) {
    .top span a img {
        width: 80px;
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    .top span a img {
        width: 70px;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .top span a img {
        width: 60px;
        height: auto;
    }
}
